<section class="main-cont">
  <h1>Welcome!</h1>
  <div class="pages-list">
    <div class="page-box">
      <a href="/profiles">
        <span class="material-symbols-outlined">person</span> Profiles
      </a>
    </div>
    <div class="page-box">
      <a href="/posts">
        <span class="material-symbols-outlined">text_ad</span> Posts
      </a>
    </div>
    <div class="page-box">
      <a href="/shares">
        <span class="material-symbols-outlined"> leaderboard </span> Shares
      </a>
    </div>
  </div>
  <div class="profiles-main">
    <app-profiles></app-profiles>
  </div>
</section>
